@font-face {
  font-family: 'DreamOrphans-Italic';
  src: url('DreamOrphans-Italic.woff') format('woff'),
       url('DreamOrphans-Italic.ttf') format('truetype'),
       url('DreamOrphans-Italic.svg#DreamOrphans-Italic') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'dream orphans it';
  src: url('dream orphans it.eot');
  src: url('dream orphans it.eot?#iefix') format('embedded-opentype'),
       url('dream orphans it.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

