@font-face {
  font-family: 'DreamOrphans-Regular';
  src: url('DreamOrphans-Regular.woff') format('woff'),
       url('DreamOrphans-Regular.ttf') format('truetype'),
       url('DreamOrphans-Regular.svg#DreamOrphans-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'dream orphans';
  src: url('dream orphans.eot');
  src: url('dream orphans.eot?#iefix') format('embedded-opentype'),
       url('dream orphans.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

