@font-face {
  font-family: 'CaviarDreams-BoldItalic';
  src: url('CaviarDreams-BoldItalic.woff') format('woff'),
       url('CaviarDreams-BoldItalic.ttf') format('truetype'),
       url('CaviarDreams-BoldItalic.svg#CaviarDreams-BoldItalic') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'CaviarDreams_BoldItalic';
  src: url('CaviarDreams_BoldItalic.eot');
  src: url('CaviarDreams_BoldItalic.eot?#iefix') format('embedded-opentype'),
       url('CaviarDreams_BoldItalic.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

