@import 'variables';
@import 'mixins';

@font-face {
  font-family: 'DreamOrphans';
  src: url('../../fonter/DreamOrphans/Regular/DreamOrphans-Regular.eot');
  src: url('../../fonter/DreamOrphans/Regular/DreamOrphans-Regular.eot?#iefix') format('embedded-opentype'),
       url('../../fonter/DreamOrphans/Regular/DreamOrphans-Regular.woff2') format('woff2'),
       url('../../fonter/DreamOrphans/Regular/DreamOrphans-Regular.woff') format('woff'),
       url('../../fonter/DreamOrphans/Regular/DreamOrphans-Regular.ttf') format('truetype'),
       url('../../fonter/DreamOrphans/Regular/DreamOrphans-Regular.svg#DreamOrphans-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'CaviarDreams';
  src: url('../../fonter/CaviarDreams/Regular/CaviarDreams.eot');
  src: url('../../fonter/CaviarDreams/Regular/CaviarDreams.eot?#iefix') format('embedded-opentype'),
       url('../../fonter/CaviarDreams/Regular/CaviarDreams.woff2') format('woff2'),
       url('../../fonter/CaviarDreams/Regular/CaviarDreams.woff') format('woff'),
       url('../../fonter/CaviarDreams/Regular/CaviarDreams.ttf') format('truetype'),
       url('../../fonter/CaviarDreams/Regular/CaviarDreams.svg#CaviarDreams') format('svg');
  font-weight: normal;
  font-style: normal;
}

html
{
	color: $text-color;
}

html, body
{
	margin:		0;
	padding:	0;
}

header
{
	h1
	{
		font-family:	'DreamOrphans';
		font-size:		40px;
		margin-bottom:	10px;
		margin-left:	10px;
		display:		inline-block;
	}

	nav
	{
		display:		inline-block;
		font-family:	'CaviarDreams';
		font-size:		large;

		ul
		{
			list-style-type:	none;

			li
			{
				display:	inline-block;

				a
				{
					color:				black;
					text-decoration:	none;
				}
			}
		}
	}

	#banner
	{
		background:			url('../../bilder/banner_800x400.jpg');
		background-repeat:	no-repeat;
		height:				400px;

		h2
		{
			display:		inline-block;
			color:			#FFFFFF;
			background:		rgba(0, 0, 0, 0.7);
			margin-top:		50px;
			font-family:	'CaviarDreams';

			font-size:		20px;
			padding:		10px;
			line-height:	27px;
		}
	}
}