@import 'variables';
@import 'mixins';

@font-face {
  font-family: 'DreamOrphans';
  src: url('../../fonter/DreamOrphans/Regular/DreamOrphans-Regular.eot');
  src: url('../../fonter/DreamOrphans/Regular/DreamOrphans-Regular.eot?#iefix') format('embedded-opentype'),
       url('../../fonter/DreamOrphans/Regular/DreamOrphans-Regular.woff2') format('woff2'),
       url('../../fonter/DreamOrphans/Regular/DreamOrphans-Regular.woff') format('woff'),
       url('../../fonter/DreamOrphans/Regular/DreamOrphans-Regular.ttf') format('truetype'),
       url('../../fonter/DreamOrphans/Regular/DreamOrphans-Regular.svg#DreamOrphans-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'CaviarDreams';
  src: url('../../fonter/CaviarDreams/Regular/CaviarDreams.eot');
  src: url('../../fonter/CaviarDreams/Regular/CaviarDreams.eot?#iefix') format('embedded-opentype'),
       url('../../fonter/CaviarDreams/Regular/CaviarDreams.woff2') format('woff2'),
       url('../../fonter/CaviarDreams/Regular/CaviarDreams.woff') format('woff'),
       url('../../fonter/CaviarDreams/Regular/CaviarDreams.ttf') format('truetype'),
       url('../../fonter/CaviarDreams/Regular/CaviarDreams.svg#CaviarDreams') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GeosansLight';
  src: url('../../fonter/GeosansLight/Regular/GeosansLight.eot');
  src: url('../../fonter/GeosansLight/Regular/GeosansLight.eot?#iefix') format('embedded-opentype'),
       url('../../fonter/GeosansLight/Regular/GeosansLight.woff2') format('woff2'),
       url('../../fonter/GeosansLight/Regular/GeosansLight.woff') format('woff'),
       url('../../fonter/GeosansLight/Regular/GeosansLight.ttf') format('truetype'),
       url('../../fonter/GeosansLight/Regular/GeosansLight.svg#GeosansLight') format('svg');
  font-weight: normal;
  font-style: normal;
}

html
{
	color: 			$text-color;
	font-family:	'GeosansLight';
	font-size:		large;
}

html, body
{
	margin:		0;
	padding:	0;
}

h1, h2, h3
{
	font-family:	'CaviarDreams';
}

a
{
	color:	$link-color;
}

header
{
	padding-top:		25px;
	margin-bottom:		100px;
	
	h1
	{
		font-family:	'DreamOrphans';
		font-size:		20px;
		margin:			0 0 5px 10px;
		float:			left;
	}

	#menu-button
	{
		font-size:	20px;
		cursor:		pointer;
	}

	nav
	{
		float:			right;
		margin:			0 10px 0 0;
		padding:		0;
		font-family:	'CaviarDreams';
		font-size:		large;

		ul
		{
			position:			absolute;
			z-index:			9999;
			right:				10px;
			background:			white;
			border:				1px solid #DBDBDB;
			-webkit-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
			-moz-box-shadow: 	5px 5px 5px 0px rgba(0,0,0,0.75);
			box-shadow:			5px 5px 5px 0px rgba(0,0,0,0.75);

			display:			none;
			list-style-type:	none;
			padding-left:		5px;
			margin:				10px 0 10px;

			.item-devider
			{
				display:	none;
			}

			li
			{
				display:	block;
				padding:	10px 10px;

				.current
				{
					text-decoration:	underline;
				}

				a, a:visited
				{
					color:				black;
					text-decoration:	none;
				}
			}
		}
	}

	#banner
	{
		clear:				both;
		background:			url('../../bilder/banner_800x400.jpg');
		background-repeat:	no-repeat;
		height:				400px;

		h2
		{
			display:		inline-block;
			color:			#FFFFFF;
			background:		rgba(0, 0, 0, 0.7);
			margin-top:		50px;
			font-family:	'CaviarDreams';

			font-size:		20px;
			padding:		10px;
			line-height:	27px;
		}
	}
}

footer
{
	margin-top:		100px;
	padding:		50px 0;
	background:		#E8E8E8;
	text-align:		center;

	section
	{
		word-break: break-all;
		text-align:	left;
		background:	white;
		display:	inline-block;
		padding:	20px;
		margin:		20px;
	}
}