@import 'variables';
@import 'mixins';

html
{
	color: $text-color;
}

html, body
{
	margin:		0;
	padding:	0;
}

header
{
	h1
	{

	}

	#banner
	{
		background:	url('../../bilder/banner_320x117.jpg');
		height:		117px;

		h2
		{
			display:	inline-block;
			color:		#FFFFFF;
			background:	rgba(0, 0, 0, 0.8);
			margin-top:	50px;
			padding:	10px;
		}
	}
}