header
{
	h1
	{
		font-size:	30px;
	}

	#menu-button
	{
		font-size:	30px;
	}

	#banner
	{
		h2
		{
			font-size:		25px;
			line-height:	33px;
		}
	}
}

main
{
	max-width:	95%;
	margin:		0 auto;
	text-align:	center;

	section
	{
		display:		inline-block;
		max-width:		450px;
		text-align:		left;
		margin:			10px;
		vertical-align:	top;


		.justify
		{
			text-align:	justify;
		}
	}
	.fullwidth
	{
		display: 	block;
		max-width:	100%;
	}
}

footer
{
	section
	{
		word-break: normal;
	}
}