header
{
	#menu-button
	{
		display:	none;
	}

	nav
	{
		ul
		{
			display:		block !important;

			position:			initial;
			z-index:			auto;
			background:			none;
			border:				none;
			box-shadow:			none;

			.item-devider
			{
				display:	inline-block;
			}

			li
			{
				display:	inline-block;
				padding:	0;
			}
		}
	}

	#banner
	{
		h2
		{
			font-size:		38px;
			line-height:	50px;
			padding:		35px;
		}
	}
}

#gmaps
{
	width:		100%;
	margin:		0 auto -105px auto;
}