header
{
	#menu-button
	{
		display:	none;
	}

	nav
	{
		ul
		{
			display:		block;
			li
			{
				display:	inline-block;
			}
		}
	}

	#banner
	{
		h2
		{
			font-size:		38px;
			line-height:	50px;
			padding:		35px;
		}
	}
}