header
{
	h1
	{
		font-size:		40px;
		margin-bottom:	0;
	}

	nav
	{
		ul
		{
			margin:		18px 0 15px;
		}
	}

	#banner
	{
		background:	url('../../bilder/banner_1100x550.jpg');
		height:		550px;

		h2
		{
			font-size:		44px;
			line-height:	59px;
			padding:		40px;
		}
	}
}