@font-face {
  font-family: 'DreamOrphans';
  src: url("../../fonter/DreamOrphans/Regular/DreamOrphans-Regular.eot");
  src: url("../../fonter/DreamOrphans/Regular/DreamOrphans-Regular.eot?#iefix") format("embedded-opentype"), url("../../fonter/DreamOrphans/Regular/DreamOrphans-Regular.woff2") format("woff2"), url("../../fonter/DreamOrphans/Regular/DreamOrphans-Regular.woff") format("woff"), url("../../fonter/DreamOrphans/Regular/DreamOrphans-Regular.ttf") format("truetype"), url("../../fonter/DreamOrphans/Regular/DreamOrphans-Regular.svg#DreamOrphans-Regular") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'CaviarDreams';
  src: url("../../fonter/CaviarDreams/Regular/CaviarDreams.eot");
  src: url("../../fonter/CaviarDreams/Regular/CaviarDreams.eot?#iefix") format("embedded-opentype"), url("../../fonter/CaviarDreams/Regular/CaviarDreams.woff2") format("woff2"), url("../../fonter/CaviarDreams/Regular/CaviarDreams.woff") format("woff"), url("../../fonter/CaviarDreams/Regular/CaviarDreams.ttf") format("truetype"), url("../../fonter/CaviarDreams/Regular/CaviarDreams.svg#CaviarDreams") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'GeosansLight';
  src: url("../../fonter/GeosansLight/Regular/GeosansLight.eot");
  src: url("../../fonter/GeosansLight/Regular/GeosansLight.eot?#iefix") format("embedded-opentype"), url("../../fonter/GeosansLight/Regular/GeosansLight.woff2") format("woff2"), url("../../fonter/GeosansLight/Regular/GeosansLight.woff") format("woff"), url("../../fonter/GeosansLight/Regular/GeosansLight.ttf") format("truetype"), url("../../fonter/GeosansLight/Regular/GeosansLight.svg#GeosansLight") format("svg");
  font-weight: normal;
  font-style: normal; }
html {
  color: #303030;
  font-family: 'GeosansLight';
  font-size: large; }

html, body {
  margin: 0;
  padding: 0; }

h1, h2, h3 {
  font-family: 'CaviarDreams'; }

header {
  padding-top: 25px;
  margin-bottom: 100px; }
  header h1 {
    font-family: 'DreamOrphans';
    font-size: 20px;
    margin: 0 0 5px 10px;
    float: left; }
  header #menu-button {
    font-size: 20px; }
  header nav {
    float: right;
    margin: 0 10px 0 0;
    padding: 0;
    font-family: 'CaviarDreams';
    font-size: large; }
    header nav ul {
      position: absolute;
      z-index: 9999;
      right: 10px;
      background: white;
      border: 1px solid #DBDBDB;
      -webkit-box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.75);
      -moz-box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.75);
      box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.75);
      display: none;
      list-style-type: none;
      padding-left: 5px;
      margin: 10px 0 10px; }
      header nav ul .item-devider {
        display: none; }
      header nav ul li {
        display: block;
        padding: 10px 10px; }
        header nav ul li .current {
          text-decoration: underline; }
        header nav ul li a, header nav ul li a:visited {
          color: black;
          text-decoration: none; }
  header #banner {
    clear: both;
    background: url("../../bilder/banner_800x400.jpg");
    background-repeat: no-repeat;
    height: 400px; }
    header #banner h2 {
      display: inline-block;
      color: #FFFFFF;
      background: rgba(0, 0, 0, 0.7);
      margin-top: 50px;
      font-family: 'CaviarDreams';
      font-size: 20px;
      padding: 10px;
      line-height: 27px; }

footer {
  margin-top: 100px;
  padding: 50px 0;
  background: #E8E8E8;
  text-align: center; }
  footer section {
    word-break: break-all;
    text-align: left;
    background: white;
    display: inline-block;
    padding: 20px;
    margin: 20px; }

@media (min-width: 300px) {
  header h1 {
    font-size: 25px; }
  header #menu-button {
    font-size: 25px; }
  header #banner h2 {
    font-size: 23px;
    line-height: 30px;
    padding: 20px; } }
@media (min-width: 400px) {
  header h1 {
    font-size: 30px; }
  header #menu-button {
    font-size: 30px; }
  header #banner h2 {
    font-size: 25px;
    line-height: 33px; }

  footer section {
    word-break: normal; } }
@media (min-width: 500px) {
  header #banner h2 {
    font-size: 27px;
    line-height: 36px;
    padding: 30px; } }
@media (min-width: 600px) {
  header #banner h2 {
    font-size: 33px;
    line-height: 44px;
    padding: 30px; } }
@media (min-width: 700px) {
  header #menu-button {
    display: none; }
  header nav ul {
    display: block !important;
    position: initial;
    z-index: auto;
    background: none;
    border: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none; }
    header nav ul .item-devider {
      display: inline-block; }
    header nav ul li {
      display: inline-block;
      padding: 0; }
  header #banner h2 {
    font-size: 38px;
    line-height: 50px;
    padding: 35px; } }
@media (min-width: 800px) {
  header h1 {
    font-size: 40px;
    margin-bottom: 0; }
  header nav ul {
    margin: 18px 0 15px; }
  header #banner {
    background: url("../../bilder/banner_1100x550.jpg");
    height: 550px; }
    header #banner h2 {
      font-size: 44px;
      line-height: 59px;
      padding: 40px; } }
@media (min-width: 900px) {
  header #banner h2 {
    font-size: 50px;
    line-height: 66px;
    padding: 40px; } }
@media (min-width: 1000px) {
  header #banner h2 {
    font-size: 57px;
    line-height: 76px;
    padding: 40px; } }
@media (min-width: 1100px) {
  header #banner {
    background: url("../../bilder/banner_1400x700.jpg");
    height: 700px; }
    header #banner h2 {
      font-size: 60px;
      line-height: 80px;
      padding: 65px; } }
@media (min-width: 1200px) {
  header #banner h2 {
    font-size: 60px;
    line-height: 80px;
    padding: 100px; } }
@media (min-width: 1200px) {
  header #banner {
    background: url("../../bilder/banner_1920x700.jpg"); } }

/*# sourceMappingURL=style.css.map */
