@font-face {
  font-family: 'DreamOrphans-Bold';
  src: url('DreamOrphans-Bold.woff') format('woff'),
       url('DreamOrphans-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'dream orphans bd';
  src: url('dream orphans bd.eot');
  src: url('dream orphans bd.eot?#iefix') format('embedded-opentype'),
       url('dream orphans bd.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

